Repository mailamiton/gcp-infra-using-terraform: changes, and which Atlantis projects are due for each by the changed paths.
All: initial-setup, team-ops-dev, team-ops-prod, team-data-dev, global-org-policies

atlantis.yaml:

version: 3

# Global settings that apply to all projects unless overridden.
# This simplifies the project definitions below.
workflow: conftest
allowed_overrides: ["workflow"]

# Workflows define a custom set of commands for 'plan' and 'apply'.
# This allows for steps like policy checking with Conftest.
workflows:
  conftest:
    plan:
      steps:
        - init
        - plan
        # The 'show' step is required to output the plan in a JSON format
        # that policy-as-code tools like Conftest can parse.
        - show
        # This step runs Conftest against the plan.
        # NOTE: It assumes you have policies in a 'policy/' directory at the repo root.
        # The '-' tells conftest to read the JSON plan from stdin.
        - run: conftest test --all-namespaces -p policy/ -
    apply:
      steps:
        - apply

projects:
# =========================================================================
# Initial Bootstrap Setup
# =========================================================================
- name: initial-setup
  dir: Initial-setup
  workspace: default
  autoplan:
    when_modified: ["*.tf", "*.tfvars"]
    enabled: true
  apply_requirements: [approved]

# =========================================================================
# Team: team-ops
# =========================================================================
- name: team-ops-dev
  dir: terraform/teams/team-ops/dev
  workspace: default
  autoplan:
    when_modified: ["*.tf", "*.tfvars", "../../../modules/**/*.tf"]
    enabled: true
  apply_requirements: [approved]

- name: team-ops-prod
  dir: terraform/teams/team-ops/prod
  workspace: default
  autoplan:
    when_modified: ["*.tf", "*.tfvars", "../../../modules/**/*.tf"]
    enabled: true
  apply_requirements: [approved]

# =========================================================================
# Team: team-data
# =========================================================================
- name: team-data-dev
  dir: terraform/teams/team-data/dev
  workspace: default
  autoplan:
    when_modified: ["*.tf", "*.tfvars", "../../../modules/**/*.tf"]
    enabled: true
  apply_requirements: [approved]

# =========================================================================
# Global Resources
# =========================================================================
- name: global-org-policies
  dir: terraform/global/org-policies
  workspace: default
  autoplan:
    when_modified: ["*.tf", "*.tfvars", "../../modules/**/*.tf"]
    enabled: true
  apply_requirements: [approved]

updated atlantis
  atlantis.yaml
Due: none

updated atlantis.yaml
  atlantis.yaml
Due: none

updated atlantis.yaml
  Initial-setup/main.tf
  atlantis.yaml
Due: initial-setup

added changes for policy
  Initial-setup/README.md
  Initial-setup/atlantis/config.yaml
  Initial-setup/atlantis/docker-compose.yml
  Initial-setup/main.tf
  Initial-setup/variables.tf
  README.md
  policy/README.md
  policy/bucket_policy.rego
  policy/labels.rego
  policy/service_account.rego
  policy/specific_machine_type.rego
Due: initial-setup

added changes for policy
  terraform/teams/team-ops/dev/main.tf
Due: team-ops-dev

refactor code
  Initial-setup/atlantis/config.yaml
  Initial-setup/docker-compose.yml
  Initial-setup/main.tf
  atlantis.yaml
Due: initial-setup

added config changes
  Initial-setup/atlantis/config.yaml
  Initial-setup/atlantis/docker-compose.yml
  Initial-setup/docker-compose.yml
Due: none

added config changes
  Initial-setup/atlantis/docker-compose.yml
Due: none

added config changes
  Initial-setup/README.md
  Initial-setup/atlantis/docker-compose.yml
Due: none

added config changes
  Initial-setup/atlantis/docker-compose.yml
  atlantis.yaml
Due: none

added config changes
  atlantis.yaml
Due: none

atlantis formating
  atlantis.yaml
Due: none

atlantis formating
  Initial-setup/atlantis/config.yaml
  Initial-setup/atlantis/docker-compose.yml
  atlantis.yaml
Due: none

atlantis formating
  terraform/teams/team-ops/dev/main.tf
Due: team-ops-dev

upadted version
  Initial-setup/atlantis/config.yaml
  Initial-setup/atlantis/docker-compose.yml
  terraform/teams/team-ops/dev/versions.tf
Due: team-ops-dev

removed policy folder
  Initial-setup/atlantis/docker-compose.yml
  _policy/README.md
  _policy/bucket_policy.rego
  _policy/labels.rego
  _policy/service_account.rego
  _policy/specific_machine_type.rego
Due: none

added changes for readme.md
  Initial-setup/README.md
Due: none

added chanegs for test
  Initial-setup/README.md
Due: none

added policy folder
  Initial-setup/README.md
  policy/README.md
  policy/bucket_policy.rego
  policy/labels.rego
  policy/service_account.rego
  policy/specific_machine_type.rego
Due: none

added chanegs for versoin
  .terraform-version
  Initial-setup/atlantis/config.yaml
  Initial-setup/main.tf
  Initial-setup/variables.tf
  terraform/teams/team-data/dev/versions.tf
  terraform/teams/team-data/prod/versions.tf
  terraform/teams/team-ops/prod/versions.tf
Due: initial-setup, team-ops-prod, team-data-dev

readme.md chanegs
  Initial-setup/README.md
Due: none

readme.md chanegs
  Initial-setup/README.md
  Initial-setup/atlantis/Dockerfile
  Initial-setup/atlantis/docker-compose.yml
  terraform/teams/team-data/dev/versions.tf
  terraform/teams/team-data/prod/versions.tf
  terraform/teams/team-ops/dev/versions.tf
  terraform/teams/team-ops/prod/versions.tf
Due: team-ops-dev, team-ops-prod, team-data-dev

chanegs docker file
  Initial-setup/atlantis/Dockerfile
Due: none

added policy folder attched to volume
  Initial-setup/README.md
  Initial-setup/atlantis/config.yaml
  Initial-setup/atlantis/docker-compose.yml
Due: none

added space
  Initial-setup/README.md
Due: none

added lable
  Initial-setup/.terraform.lock.hcl
  Initial-setup/README.md
  Initial-setup/atlantis.zip
  Initial-setup/main.tf
  Initial-setup/tmp/atlantis.zip
  Initial-setup/tmp/policy.zip
  Initial-setup/variables.tf
  terraform/teams/team-ops/dev/main.tf
Due: initial-setup, team-ops-dev

added lable
  policy/labels.rego
Due: none

added chanegs for testing
  .gitignore
  Initial-setup/atlantis/config.yaml
  Initial-setup/tmp/atlantis.zip
  Initial-setup/tmp/policy.zip
  policy/gcp/bucket_policy.rego
  policy/gcp/labels.rego
  policy/gcp/service_account.rego
  policy/gcp/specific_machine_type.rego
  policy/terrform/modules_required.rego
  terraform/teams/team-ops/dev/main.tf
Due: team-ops-dev

adedd policy
  Initial-setup/README.md
  Initial-setup/tmp/policy.zip
  policy/terraform/modules_required.rego
Due: none

adedd policy
  terraform/teams/team-ops/dev/main.tf
Due: team-ops-dev

config changes
  .gitignore
  Initial-setup/README.md
  Initial-setup/atlantis.zip
  Initial-setup/atlantis/config.yaml
  Initial-setup/tmp/atlantis.zip
  Initial-setup/tmp/policy.zip
  policy/gcp/labels.rego
  terraform/teams/team-ops/dev/main.tf
Due: team-ops-dev
